.header {
  /* height: rem(56px); */
  margin-bottom: rem(120px);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.inner {
  /* height: rem(56px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: inherit;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  cursor: pointer;
}

.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  color: var(--mantine-color-brand-text);
}

[data-mantine-color-scheme] &[data-active] {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
}

.headerHidden {
  transform: translateY(-100%);
}
